* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #11B0C8;
    --color-black: #000000;
    --color-gray: #1A1A1A;
    --color-black-2: #0F0F0F;
    --color-white: #FFFFFF;

    --font-size-h1: 40px;
    --font-size-h2: 40px;
    --font-size-h3: 20px;
    --font-size-body: 20px;
    --font-size-btn: 20px;
    --font-size-caption: 20px;
    
    --font-weight-h1: 700;
    --font-weight-h2: 700;
    --font-weight-h3: 700;
    --font-weight-body: 400;
    --font-weight-btn: 700;
    --font-weight-caption: 700;

    --font-family: "Poppins", sans-serif;

    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-30: 30px;
}