@import url("./global.css");

html {
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color-blue);
    padding: 7px 35px;
}

header a{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-black);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-btn);
    font-family: var(--font-family);
    text-decoration: none;
}

/* --- MAIN --- */

main {
    display: flex;
    justify-content: center;
    gap: 191px;
    background-color: var(--color-black);
    padding: 100px 0px 76px 0px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.main-content h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--color-white);
    font-family: var(--font-family);
    width: 587px;
}

.main-content h1 span{
    color: var(--color-blue);
}

.main-content p{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-white);
    font-family: var(--font-family);
    width: 564px;
}

.main-content nav{
    display: flex;
    gap: 20px;
}

.btn-primary{
    display: flex;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-btn);
    text-align: center;
    font-family: var(--font-family);
    text-decoration: none;
    transition: 0.2s;
}

.btn-primary:hover{
    background-color: #218898;
    /* background-color: #2791a2; */

}

.btn-secundary{
    display: flex;
    padding: 15px 20px;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-btn);
    font-family: var(--font-family);
    align-items: center;
    color: var(--color-blue);
    text-decoration: none;
    transition: 0.2s;
}

.btn-secundary:hover{
    background-color: #11b0c889;
    color: var(--color-white);
}

/* --- SECTION CHARACTERS --- */

.section-characters{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
    align-items: center;
    background-color: var(--color-gray);
}

.section-characters h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-white);
    font-family: var(--font-family);
}

.section-characters h2 span{
    color: var(--color-blue);
}

.container-characters{
    display: grid;
    grid-template-columns: repeat(4, minmax(293px, 1fr));
    gap: 35px;
}

.card-character{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 30px 20px;
    background-color: var(--color-black-2);
    border-radius: 20px;
    width: 293px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-character:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #11b0c889;
}

.card-character .img-character img{
    width: 100%;
    height: 216px;
    height: 100%;
    border-radius: 50px;
}

.card-character h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-white);
    font-family: var(--font-family);
    text-align: center;
}

.conteiner-info-character{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.info-character{
    display: flex;
    gap: 10px;
}

.info-character span{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-white);
    font-family: var(--font-family);
}

/* --- FOOTER --- */

footer{
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: var(--color-black);
}

footer p{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-white);
    font-family: var(--font-family);
}

footer p span{
    color: var(--color-blue);
}

/* --- Responsividade --- */

@media (max-width: 884px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

    }

    .main-content{
        align-items: center;
        text-align: center;
    }

    .mainImg img{
        width: 300px;
    }

    .container-characters{
        grid-template-columns: repeat(3, minmax(293px, 1fr));
        gap: 20px 10px;
    }

    .card-character{
        width: 280px;
    }

}

@media (max-width: 835px) {
    .container-characters{
        grid-template-columns: repeat(2, minmax(293px, 1fr));
        gap: 35px 35px;
    }

    .card-character{
        width: 293px;
    }

}

@media (max-width: 480px) {

    main{
        gap: 30px;
        padding: 30px 0px 50px 0px;
    }

    header{
        justify-content: center ;
    }

    .main-content h1{
        width: 380px;
    }

    .main-content p{
        width: 400px;
    }

    .section-characters h2{
        text-align: center;
        width: 410px;
    }

    .container-characters{
        grid-template-columns: repeat(1, minmax(293px, 1fr));
    }
}


@media (max-width: 400px) {

    .mainImg img{
        width: 270px;
    }

    .main-content img{
        width: 360px;
    }
}

@media (max-width: 365px) {

    .main-content h1{
        width: 350px;
    }

    .main-content p{
        width: 360px;
    }

    footer p{
        text-align: center;
        width: 200px;
    }
}

@media (max-width: 330px) {

    main{
        gap: 20px;
    }

    .mainImg img{
        width: 230px;
    }

    .main-content img{
        width: 320px;
    }

    .main-content p{
        width: 330px;
    }
}