@import url("./global.css");

header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color-blue);
    padding: 7px 35px;
}

header a{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-black);
    font-size: var(--font-size-btn);
    font-weight: var(--font-weight-btn);
    font-family: var(--font-family);
    text-decoration: none;
}